*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    padding: 6px;
    border: 1px solid green;
}
nav img{
    width: 100px;
    height: 50px;
}
.nav-logo{
    margin-left: 80px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 15px;
}
nav ul li a:hover{
    color: rgb(228, 8, 8);
    cursor: pointer;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.nav-link{
    margin: 0;
}
.btn{
    background-color: rgb(6, 201, 32);
    padding: 8px 5px;
    border-radius: 4px;
    border: none;
}
.btn:hover{
    background-color: rgb(113, 113, 4);
    color: white;
}