*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    padding: 8px 5px;
}
nav img{
    width: 100px;
    height: 50px;
}
.nav-logo{
    margin-left: 80px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin-right: 15px;

}
nav ul li a:hover{
    color: rgb(228, 8, 8);
    cursor: pointer;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.nav-link{
    margin: 0;
}
.btn{
    background-color: rgb(10, 129, 65);
    padding: 8px 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: rgb(16, 194, 230);
    color: white;
}
.nav-btn{
    display: flex;
    justify-content: center;
}
.banner-container{
    width: 100%;
    height: 580px;
    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px;
}
.banner-btn{
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}
.banner-icon{
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: rgb(219, 226, 219);
    width: 170px;
    padding: 4px 6px;
    border-radius: 12px;
    color: rgb(3, 117, 37);
    margin: 0px auto;
}
.banner-box h1{
    margin-top: 20px;
    font-size: 45px;
    color: white;
}
.banner-box h2{
    font-size: 45px;
    color: rgb(5, 197, 69);
}
.banner-box p{
    width: 50%;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 15px;
    color: white;
}
.banner-container .banner-box .banner-btn .btn-box p{
    width: 150px;
    margin: 0 auto;
    
}
.banner-container .banner-box .banner-btn .btn-box2 p{
    width: 130px;
    margin: 0 auto;
}
.banner-container .banner-box .banner-btn .btn-box2{
    padding: 10px;   
    border-radius: 8px;
}
.btn-box{
    gap: 5px;
}
.card-img{
    background-color: rgb(217, 54, 70);
    padding: 6px;
    border-radius: 50%;
    width: 40px;
    margin-bottom: 10px;
}
.cards-container{
    width: 100%;
}
.cards-container h1{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
.card{
    width: 250px;
    padding: 50px 15px;
    box-shadow: 2px 2px 8px rgb(207, 202, 202);
    text-align: center;
    border-radius: 5px;
}
.card p{
    font-size: 13px;
}
.card h3{
    margin-bottom: 10px;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 40px 160px;
}
.text-mark{
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 10px;
}
.second-brain-container{
    margin: 80px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.brain-img{
    width: 450px;
    height: 450px;
}
.brain-right{
    width: 420px;
}
.text-mark img{
    width: 15px;
    height: 15px;
}
.text-mark p{
    font-size: 13px;
}
.last-action{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(235, 234, 233);
    text-align: center;
    padding: 100px 0px;
    border-radius: 12px;
}
.last-action h1{
    font-size: 30px;
}
.btn-2{
    width: 165px;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    margin-bottom: 15px;
}
.footer-container{
    margin-top: 80px;
    background-color: rgb(5, 5, 59);
    padding-top: 80px;
    color: white;
}
.footer-box{
    display: flex;
    justify-content: center;
    gap: 800px;
    margin-bottom: 20px;
}
.footer-box img{
    width: 100px;
    height: 50px;
}