*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    padding: 6px;
}
nav img{
    width: 100px;
    height: 50px;
}
.nav-logo{
    margin-left: 80px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin-right: 15px;

}
nav ul li a:hover{
    color: rgb(228, 8, 8);
    cursor: pointer;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.nav-link{
    margin: 0;
}
.btn{
    background-color: rgb(5, 197, 69);
    padding: 8px 5px;
    border-radius: 4px;
    border: none;
}
.btn:hover{
    background-color: rgb(113, 113, 4);
    color: white;
}
.nav-btn{
    display: flex;
    justify-content: center;
}
.banner-container{
    width: 100%;
    height: 550px;
    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px;
}
.banner-btn{
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}
.banner-box h6{
    background-color: rgb(203, 220, 203);
    width: 140px;
    padding: 4px 6px;
    border-radius: 12px;
    color: rgb(3, 117, 37);
    margin: 0px auto;
}
.banner-box h1{
    margin-top: 20px;
    font-size: 45px;
    color: white;
}
.banner-box h2{
    font-size: 45px;
    color: rgb(5, 197, 69);
}
.banner-box p{
    width: 50%;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 15px;
    color: white;
}
.banner-container .banner-box .banner-btn p{
    width: 150px;
    margin: 0 auto;
    
}
.btn-box{
    gap: 5px;
}